
// =============================================================================
// MediaQuery Breakpoints - mixin
// =============================================================================

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xlg: 1200px;

@mixin media($media) {
  @if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
  @else if $media == xlg {
    @media (min-width: $breakpoint-xlg) { @content; }
  }
}