
// =============================================================================
// Size - variables
// =============================================================================

$font__size: 16 !default;
$font__base: 21 !default;

// =============================================================================
// Font family - variables
// =============================================================================

$font__family: "SF UI Display";

// =============================================================================
// Color variables
// =============================================================================
$color__text--dark: #22262a; 
$color__text: #323c47; 
$color__text--light: #595959; 

$color__primary: #ed1c27; 

$color__background--main: #f6f6f6;
$color__lightgray: #bdbdbd;
$color__lightgraybtn: #A8A8A8;
$color__background--footer: #000000;



// =============================================================================
// Convert pixels to ems - Function
// =============================================================================

@function em($px, $base: $font__size){
    @return($px / $base) * 1em;
}

// =============================================================================
// Import prefixes - mixin
// =============================================================================

@import '../prefixes/_prefixes';

// =============================================================================
// Import media querys - mixin
// =============================================================================

@import '../mediaquerys/_mediaquerys';