/* 
    Comentarios del autor
*/

// =============================================================================
// Import SMACSS Base Category
// =============================================================================

@import '../../base/_base';

// =============================================================================
// Import SMACSS Layout Category
// =============================================================================

@import '../../layout/_layout';

// =============================================================================
// Import SMACSS Modules for ing002
// =============================================================================

@import '../../modules/main-menu/_main-menu';