/* 
    Comentarios del autor
*/

// =============================================================================
// Import SMACSS Base Category
// =============================================================================

@import '../../base/_base';

// =============================================================================
// Import SMACSS Layout Category
// =============================================================================

@import '../../layout/_layout';

// =============================================================================
// Import SMACSS Modules for ing003
// =============================================================================

@import '../../modules/back-button/_back-button';
@import '../../modules/main-title/_main-title';
@import '../../modules/forms/_form-elements';