
/**
 * Modules - Back button
 */

 .backButton
 {
    width: 100%;
    height: em(40);
    text-align: center;
    margin-bottom: em(15);
    @include media(lg){
		margin-bottom: em(32);
	}
    @include prefix((
        box-sizing: border-box,
        display: flex,
        justify-content: flex-start,
        align-items: center,
        flex-direction: row, 
    ), webkit moz o ms);
    img {
        height: 20px;
        width: 20px;
    }
    span{
        font-family: $font__family;
        font-weight: bold;
        font-size: em(18);
        color: $color__text--dark;
        margin: 0 em(7);
        padding: 0;
    }
 }