
/**
* Modules - forms - checkbox
*/

/* Hide the browser's default checkbox */
input[type="checkbox"]
{
	position: absolute;
	opacity: 0;
	z-index: 10;
	cursor: pointer;
	height: 100%;
	width: 30px;
	top: 0;
	left: 0;
	@include media(xlg)
	{
		/* On mouse-over, add a primary background color */
		&:hover ~ .checkmark
		{
			background-color: $color__primary;
		}
	}
}

.contCheckboxSiNo 
{
	width: 55%;
	display: flex;
	align-items: center;
	margin: auto;
	&::before
	{
		content: 'No';
		margin: 0.5rem 1rem;
		font-size: 18px;
	}
	&::after
	{
		content: 'Si';
		color: $color__primary;
		margin: 0.5rem 1rem;
		font-size: 18px;
		font-weight: bold;
	}
	@include media(md){
		width: 50%;
	}
	@include media(lg){
		width: 60%;
	}
	@include media(xlg){
		width: 50%;
	}
	  
	input[type=checkbox].cambiar + .switch {
		vertical-align: middle;
		width: 40px;
		height: 20px;
		border: 1px solid rgba(0, 0, 0, 0.4);
		border-radius: 999px;
		background-color: #9d9d9d;
		-webkit-transition-duration: 0.4s;
		-webkit-transition-property: background-color, box-shadow;
		box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.4);
	}

	input[type=checkbox].cambiar:checked + .switch {
		width: 40px;
		background-position: 0 0;
		background-color: $color__primary;
		border: 1px solid $color__primary;
		box-shadow: inset 0 0 0 10px $color__primary;
	}

	/* Big Track */
	input[type=checkbox].tamano.cambiar + .switch {
		width: 80px;
		height: 30px;
	}

	/* Normal Knob */
	input[type=checkbox].cambiar + .switch > span {
		float: left;
		width: 18px;
		height: 18px;
		border-radius: inherit;
		background: white;
		-webkit-transition-timing-function: cubic-bezier(0.54, 1, 0.5, 1);
		-webkit-transition-duration: 0.4s;
		-webkit-transition-property: transform, background-color, box-shadow;
		-moz-transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
		-moz-transition-duration: 0.4s;
		-moz-transition-property: transform, background-color;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
		pointer-events: none;
		margin-top: 1px;
		margin-left: 14px;
	}

	/* Checked Knob (Blue Style) */
	input[type=checkbox].cambiar:checked + .switch > span {
		-webkit-transform: translate3d(20px, 0, 0);
		-moz-transform: translate3d(20px, 0, 0);
		background-color: white;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px $color__primary;
	}

	/* Big Knob */
	input[type=checkbox].tamano.cambiar + .switch > span {
		width: 20px;
		height: 20px;
		margin-top: 5px;
	}

	/* Checked Big Knob (Blue Style) */
	input[type=checkbox].tamano.cambiar:checked + .switch > span {
		-webkit-transform: translate3d(35px, 0, 0);
		-moz-transform: translate3d(15px, 0, 0);
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px $color__primary;
	}
}

/* Customize the label (the checkboxContainer) */
.checkboxContainer 
{
	display: inline-block;
	position: relative;
	padding-left: 35px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 13px;
	font-weight: 200;
	line-height: normal;
	background-color: transparent !important;
	width: 100%;
	margin: 0.5rem 0;
	&--blocks
	{
		width: 50%;
		@include media(sm)
		{
			width: 33.3%;
		}
		@include media(md)
		{
			width: 33.3%;
		}
		@include media(lg)
		{
			width: 50%;
		}
		@include media(xlg)
		{
			width: 25%;
			margin: 0 0 em(20) 0;
		}
	}
	span
	{
		font-size: 14px;
		text-align: justify;
		@include media(md)
		{
			font-size: 15px;
		}
		a
		{
			cursor: pointer;
			color: $color__primary !important;
			display: inline-block;
			margin: 0 em(5);
			font-weight: bold;
			pointer-events: auto !important;
		}
	}
	@include prefix((
		appearance: none,
		box-sizing: border-box,
		display: flex,
		justify-content: flex-start,
		align-items: center
	), webkit moz o ms);
}

/* Create a custom checkbox */
.checkmark 
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
	width: 20px;
	background-color: white;
	border-radius: 3px;
	border: solid 1px #979797;
	overflow: hidden;
	@include media(md)
	{
		height: 30px;
		width: 30px;
	}
	@include prefix((
		box-sizing: border-box,
		display: flex,
		justify-content: center,
		align-items: center,
		box-shadow: none,
		outline: none,
		transition: ease all 0.3s
	), webkit moz o ms);
	&:after 
	{
		font-family: 'icomoon';
		content: "\002714";
		color: $color__primary;
		font-size: 16px;
		@include prefix((
			transition: ease all 0.3s,
			transform: translateY(2em)
		), webkit moz o ms);
	}
	@include media(xlg)
	{
		/* On mouse-over, add a primary background color */
		&:hover
		{
			background-color: $color__primary;
		}
	}
}

/* When the checkbox is checked, add a primary background */

input[type="checkbox"]:checked ~ .checkmark 
{
	background-color: white;
}

/* Show the checkmark when checked */

input[type="checkbox"]:checked ~ .checkmark:after 
{
	@include prefix((
		transform: translateY(0)
	), webkit moz o ms);
}