
// =============================================================================
// Size - variables
// =============================================================================

$font__size: 16 !default;
$font__base: 21 !default;

// =============================================================================
// Font family - variables
// =============================================================================

$font__family: "MyriadPro" !important;

// =============================================================================
// Color variables
// =============================================================================
$color__text--dark: #22262a; 
$color__text: #323c47; 
$color__text--light: #2F3337; 

$color__primary: #EE3124; 

$color__background--main: #ffffff;
$color__lightgray: #bdbdbd;
$color__inputs: #E4E4E4;
$color__tooltip: #004eff;
$color__background--footer: #000000;



// =============================================================================
// Convert pixels to ems - Function
// =============================================================================

@function em($px, $base: $font__size){
    @return($px / $base) * 1em;
}

// =============================================================================
// Import prefixes - mixin
// =============================================================================

@import '../prefixes/_prefixes';

// =============================================================================
// Import media querys - mixin
// =============================================================================

@import '../mediaquerys/_mediaquerys';