/**
 * Font icons - styles.
 */


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}
.icon-edit:before {
  content: "\e903";
}
.icon-forbiden:before {
  content: "\e904";
}
.icon-next:before {
  content: "\e905";
}
.icon-question:before {
  content: "\e906";
}