
/**
 * Modules - menu module
 */

.mainMenu
{
    padding: em(16);
    border-radius: em(20);
    height: em(80);
    width: 100%;
    margin-bottom: em(20);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    @include prefix((
        box-sizing: border-box,
        display: flex,
        flex-direction: row, 
        align-items: center,
        justify-content: center,
    ), webkit moz o ms);
    @include media(lg){
        border-radius: em(35);
        height: em(120);
    }
    &__content{
        flex-grow: 12;
        position: relative;
        margin: 0 em(5) 0 30px;
        padding: 0 em(7);
        text-align: center;
        z-index: 10;
        @include prefix((
            box-sizing: border-box,
            display: flex,
            flex-direction: column, 
            align-items: center,
            justify-content: center,
            flex: 1
        ), webkit moz o ms);
        @include media(lg){
            font-size: 1.4rem;
        }
        h6
        {
            margin-bottom: 0;
        }
        h3{
            margin-bottom: em(3);
        }
    }
    .icon{
        width: 25px;
        z-index: 10;
    }
    .background
    {
        width: 110%;
        position: absolute;
        left: -5%;
        top: 0;
        bottom: 0;
        z-index: 0;
        margin: auto auto;
    }
}