.radio{
	display: flex;
	width: 100%;
	justify-content: space-around;
	float: right;
	margin-bottom: 1rem;
	@include media(md){
		width: 100%;
	}
}

[type="radio"] {
	&:checked, &:not(:checked) {
	  position: absolute;
	  left: -9999px;
	}
	&:checked + label, &:not(:checked) + label {
	  position: relative;
	  padding-left: 28px;
	  cursor: pointer;
	  line-height: 20px;
	  display: inline-block;
	  color: #666;
	  margin: 0;
	  @include media(md){
		padding: 10px 40px;
	  }
	}
	&:checked + label:before, &:not(:checked) + label:before {
	  content: '';
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 18px;
	  height: 18px;
	  border: 2px solid #666;
	  border-radius: 100%;
	  background: #fff;
	  @include media(md){
		width: 30px;
		height: 30px;
	  }
	}
	&:checked + label:after {
	  content: '';
	  width: 14px;
	  height: 14px;
	  background: #EE3124;
	  position: absolute;
	  top: 4px;
	  left: 4px;
	  border-radius: 100%;
	  -webkit-transition: all 0.2s ease;
	  transition: all 0.2s ease;
	  @include media(md){
		width: 24px;
		height: 24px;
	  }
	}
	&:not(:checked) + label:after {
	  content: '';
	  width: 12px;
	  height: 12px;
	  background: #EE3124;
	  position: absolute;
	  top: 4px;
	  left: 4px;
	  border-radius: 100%;
	  -webkit-transition: all 0.2s ease;
	  transition: all 0.2s ease;
	  opacity: 0;
	  -webkit-transform: scale(0);
	  transform: scale(0);
	}
	&:checked + label:after {
	  opacity: 1;
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  }